*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#4f46e5,#7c3aed,#06b6d4,#0f172a);

background-size:400% 400%;

animation:bg 15s ease infinite;

padding:20px;

}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.calendar{

width:450px;

max-width:100%;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.2);

padding:30px;

border-radius:25px;

box-shadow:0 20px 50px rgba(0,0,0,.35);

color:white;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header h2{

font-size:28px;

font-weight:700;

}

.header button{

width:50px;

height:50px;

border:none;

border-radius:50%;

background:rgba(255,255,255,.15);

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.header button:hover{

background:white;

color:#4f46e5;

transform:scale(1.1);

}

.weekdays{

display:grid;

grid-template-columns:repeat(7,1fr);

margin-bottom:15px;

font-weight:bold;

text-align:center;

}

.days{

display:grid;

grid-template-columns:repeat(7,1fr);

gap:10px;

}

.day{

height:55px;

display:flex;

justify-content:center;

align-items:center;

border-radius:15px;

cursor:pointer;

transition:.3s;

background:rgba(255,255,255,.08);

}

.day:hover{

background:#38bdf8;

transform:translateY(-4px);

}

.empty{

background:transparent;

cursor:default;

}

.today{

background:linear-gradient(135deg,#00dbde,#fc00ff);

font-weight:bold;

box-shadow:0 0 20px rgba(255,255,255,.4);

}



@media(max-width:500px){

.calendar{

padding:20px;

}

.header h2{

font-size:22px;

}

.day{

height:45px;

}

}
