.text-center{
    margin-left: 27rem;
}
.bg-red{
    background: red;
}
 .mx-auto{
    margin: auto;
}

.m-w-20{
    max-width: 29vw;
}

/* .flex{
display: flex;
 }   */
 
 .flex col{
flex-direction: column;
 }
.item center{
    align-items: center;
 }  
 .input{
    align-items: center;
 }